.bundle
db/*.sqlite3
log/*.log
tmp/
config/dev_config.yml
*.scssc
backup
.idea/*
node_modules/*
*/.DS_Store

.DS_Store

.idea/misc.xml

.idea/misc.xml

pk.sh

public/.DS_Store

public/.DS_Store

public/.DS_Store
