body, html {
  background-color: #FFF;
  margin: 0px;
}

.maker-card {
  width: 420px;
  height: 530px;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
}

.transition-all {
  transition: all 500ms;
}

h1,h2,h3 {
  margin: 0;
}

[data-contenteditable=true]:empty:before {
  content: attr(placeholder);
//  display: block; /* For Firefox */
}

[data-contenteditable=true]:empty {
  color: #aaaaaa;
}

.avatar-img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
}